body{
    background-color:lightblue ;
}
.box-part{
    background-color:whitesmoke;
    padding: 50px 10px;
    margin: 10px;
}
.fa{
    color:blue;
}
a{
    border-bottom: 1px solidblue ;
}
p{
    font-size: 12px;
}
.box{
    padding: 20px 0px;
}